<nav class="navigation row">
  <div class="col-xs-2">
    <%= link_to 'Open Webslides', '/', class: 'button button--link'  %>
  </div>

  <div class="col-xs-10 text-right">
    <%= link_to 'Concept', '/concept.html', class: 'button button--link' %>
    <%= link_to 'Team', '/team.html', class: 'button button--link' %>
    <%= link_to 'Contact', '/contact.html', class: 'button button--link' %>
    <%= link_to 'My Open Webslides', 'https://my.openwebslid.es/', class: 'button button--secondary' %>
  </div>
</nav>
